*{
  max-width: 100%;
  margin:0;
  padding:0;
  font-family: 'PT Sans',sans-serif;
}



/* className="d-flex align-items-center m-top-10
        justify-content-center" style={{minHeight:"100vh"}}> */

.custom-container{
    /* display: flex; */
    /* align-items: center; */
   /* justify-content: center; */
        }
        